@use '@angular/material' as mat;

.div_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.unavailability_fields {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
    
.content_input{

}

.field {
    margin: 10px;
    width: 276px;
}

mat-card-title {
    text-align: center;
}

.div_button{
    display: flex;
    justify-content: flex-end;
}

#participants_textarea{
    min-height: 5em;
}