<mat-card class="content_input">
    <mat-card-title>{{ title }}</mat-card-title>
    <div *ngIf="displayForm == 'initial'">
        <div [formGroup]="form" novalidate id="initialForm">
            <div class="div_row">
                <mat-form-field class="field" appearance="fill">
                    <mat-label>Participants du programme</mat-label>
                    <textarea
                        matInput
                        placeholder="Participants du programme"
                        formControlName="participants"
                    ></textarea>
                </mat-form-field>
                <mat-form-field class="field" appearance="fill">
                    <mat-label>Nombre de rôles par jour</mat-label>
                    <input
                        matInput
                        placeholder="Nombre de rôles"
                        formControlName="rolesNumber"
                        type="number"
                    />
                </mat-form-field>
            </div>
            <div class="div_row">
                <div formGroupName="rangeDate">
                    <mat-form-field class="field" appearance="fill">
                        <mat-label>Période pour programme</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input
                                matStartDate
                                placeholder="Start date"
                                formControlName="start"
                            />
                            <input
                                matEndDate
                                placeholder="End date"
                                formControlName="end"
                            />
                        </mat-date-range-input>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <mat-form-field class="field" appearance="fill">
                    <mat-label>Jours du programme</mat-label>
                    <mat-select formControlName="selectedDays" multiple>
                        <mat-option
                            *ngFor="let day of weekDays; let index = index"
                            [value]="index"
                        >
                            {{ day }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button
            mat-raised-button
            color="accent"
            class="field"
            (click)="onValidateForm1()"
            [disabled]="form.invalid"
        >
            Remplir Indisponibilités
        </button>
    </div>
    <div
        *ngIf="displayForm == 'availability'"
        [formGroup]="form"
        novalidate
        id="availabilityForm"
        class="form1"
    >
        <div
            *ngFor="let progDate of programDates; let index = index"
            class="div_row"
        >
            <mat-form-field class="field" appearance="fill">
                <mat-label>Date</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker_index"
                    [formControlName]="'pgmDate_' + index"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker_index"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker_index></mat-datepicker>
            </mat-form-field>
            <div class="unavailability_fields">
                <mat-form-field
                    class="field unavailability_field"
                    appearance="fill"
                    *ngFor="
                        let role of unavailableParticipantsArray[index];
                        let index2 = index
                    "
                >
                    <mat-label> Indispos pour role {{ index2 + 1 }} </mat-label>
                    <mat-select
                        [formControlName]="
                            'unavailablePart_' + index + '_' + index2
                        "
                        multiple
                    >
                        <mat-option
                            *ngFor="let par of participants; let index = index"
                            [value]="par"
                        >
                            {{ par }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Nombre de rôles</mat-label>
                <input
                    matInput
                    placeholder="Nombre de rôles"
                    [formControlName]="'rolesNumber_' + index"
                    type="number"
                />
            </mat-form-field>
        </div>
        <button
            mat-raised-button
            color="accent"
            class="field"
            (click)="onValidateAvailabilityForm()"
            [disabled]="form.invalid"
        >
            Générer Programme
        </button>
    </div>
</mat-card>
