<mat-card>
    <div *ngIf="!inputProgram">
        <mat-card-title>Formulaire non rempli</mat-card-title>
        <mat-card-content>
            <p>
                Veuillez remplir le formulaire pour pouvoir générer un programme
            </p>
        </mat-card-content>
    </div>
    <div *ngIf="!!inputProgram">
        <mat-card-title>Programme généré</mat-card-title>
        <mat-card-content>
            <table
                mat-table
                [dataSource]="programGenerated"
                class="mat-elevation-z8 table_pgm"
            >
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date | date: 'fullDate':undefined:'fr' }}
                    </td>
                </ng-container>

                <!-- Rôle Column -->
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef>Rôles</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-list>
                            <mat-list-item *ngFor="let role of element.roles">
                                {{ role }}
                            </mat-list-item>
                        </mat-list>
                    </td>
                </ng-container>

                <!-- Partcipant Column -->
                <ng-container matColumnDef="participants">
                    <th mat-header-cell *matHeaderCellDef>Participants</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-list>
                            <mat-list-item
                                *ngFor="let par of element.participants"
                            >
                                {{ par }}
                            </mat-list-item>
                        </mat-list>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                    mat-row
                    *matRowDef="let myRowData; columns: columnsToDisplay"
                ></tr>
            </table>
        </mat-card-content>
    </div>
</mat-card>
